*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

#theme-toggle {
	opacity: 0.65;
	position: relative;
	border-radius: 5px;
	height: 25px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	transition: opacity 0.3s ease 0s;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0px;
	appearance: none;
	transform: scale(0.8);
}



html,
html[data-theme="light"] {
	--very-light-text-color:#f4f2f8;
	--light-text-color: #bbb;
	--medium-text-color: #6e6e73;
	--main-text-color: #1D1D1F;
	--dark-text-color: #000000;
	--link-color: #0066cc;
	background-color: #fcfcfc;

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: none;
		background-color: var(--theme-ui-colors-transparent, transparent);
		transform: scale(1);
		transition: all 0.45s ease 0s;
		overflow: hidden;
		box-shadow: inset 8px -8px 0px 0px var(--theme-ui-colors-toggleIcon, #2d3748);

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: none;
			border-radius: 50%;
			transform: translate(0px, 0px);
			opacity: 1;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #2d3748), 23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748);
			transform: scale(0);
			transition: all 0.35s ease 0s;
		}
	}
}

html[data-theme="dark"] {
	--very-light-text-color: #333;
	--light-text-color: #444;
	--medium-text-color: #888;
	--main-text-color: #ccc;
	--dark-text-color: #eee;
	--link-color: #8AB4F8;
	background-color: #202124;

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 4px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
		background-color: var(--theme-ui-colors-toggleIcon, #cbd5e0);
		transform: scale(0.55);
		transition: all 0.45s ease 0s;
		overflow: visible;
		box-shadow: none;

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: 2px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
			border-radius: 50%;
			transform: translate(14px, -14px);
			opacity: 0;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0), 23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0);
			transform: scale(1);
			transition: all 0.35s ease 0s;
		}
	}
}

html{
	--main-font: 'Inter', sans-serif;
	--alt-font: 'Roboto', sans-serif;
	--third-font: 'Playfair Display', serif;

	code,
	pre {
		border-color:var(--light-text-color);
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;
		padding-left: 10px;
		padding-right: 10px;
		font-family: var(--third-font);
		Font-weight: 400;
		}
}

main {
	display: block;
	max-width: 653px;
	margin: 0 auto 0 auto;
	padding: 0.5rem 0.5rem;
	flex-direction: column;
}

h1, h2, h3, h4, h5, .post > time, .posts li time, .projects li time, body, a, p, time, strong, b, em {
	text-rendering: optimizeLegibility;
	text-decoration: none;
}

/* font-family */

body, p, time, strong, b, em {
	font-family: var(--main-font);
}

h1, h2, h3, h4, h5 {
	font-family: var(--main-font);
}

a, .post > time, .posts li time, .projects li time {
	font-family: var(--alt-font);
}

em {
	font-family: var(--third-font);
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: var(--medium-text-color);
}

blockquote > p {
	font-family: var(--third-font);
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	border-left: 5px solid var(--very-light-text-color);
	padding-left: 1rem;
	padding-right: 1rem;
	color: var(--dark-text-color);
	
}

 /* font-size */

h1 {Font-Size: 36px;}
h2 {Font-Size: 24px;}
h3 {Font-Size: 3.5vmax;}
h4 {Font-Size: 3.0vmax;}
h5 {Font-Size: 2.5vmax;}
time, .post > time {
	Font-Size: 14px;
}
body,p, a {
	Font-Size: 19px;
}

/* font-weight */

h2, h3, h4, h5 {
	Font-weight: 900;
}

h1, strong, a, b, time, .post > time {
	Font-weight: 700;
}

body, header a.active,  em, p, blockquote > p {
	Font-weight: 400;
}


/* font-color */

.MathJax, time {
	color:var(--medium-text-color);
}

h1, body, h2, h3, h4, h5, hr  {
	color: var(--main-text-color);
}

a  {
	color: var(--link-color);
}

strong, b, em {
	color: var (--light-text-color);
}


/* line-height and margins */

h1, h2, h3, h4, h5, .post > h1.title {
	line-height: 1;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

body, .meta, code, .post > time {
	line-height: 1.5;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

p{
	line-height: 1.4211;
	margin-bottom: 1.4211em;
}


pre code {
	border: none;
}

pre {
	padding: 0.8rem;
	white-space: pre-wrap;
}

img {
	max-width: 100%;
	border-radius: 2%;
}

hr {
	height: 1px;
	border: 0;
}

header {
	flex-basis: 10rem;
	flex-grow: 1;
	position: relative;
}


header li {
	margin-bottom: 0.2rem;
	text-align: right;
	margin-right: 2rem;
	list-style: disc;
}

header, section {padding: 1rem 0;}

section {
	margin-top: 1rem;
}

section h1:first-child {
	margin-top: 0;
}

.photos ul {
	list-style: disc;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
	margin-bottom: 0.5rem;
}

.posts ul,
header ul {
	list-style: disc;
}

li {
	max-width: 630;
	padding-left: 10px;
	margin-left: 10px;
}

ul {
	max-width: 630;
	padding-left: 10px;
	margin-left: 10px;
	list-style: disc;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	padding-left: 25px;
	list-style: disc;
}

.posts li a,
.posts li div,
.projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	list-style: disc;

}



.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 1000px) {
	
	main {
		display: block;
		margin: 0 auto 0 auto;
		padding: 1.5rem 1.5rem;
		flex-direction: column;
	}

	header li {
		display: inline;
		margin-right: 5px;
		margin-bottom: 3rem;
		margin-top: 0px;
    	margin-left: 5px;
	}
	
	time {
		display: none;
	}

	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		border-bottom: 1px solid #edf2f7;
		padding-bottom: 2rem;
	}
	nav ul {
		border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}

	.github-corner {
		display: none;
	}
}

section {
	flex-grow: 999;
	display: flex;
	flex-direction: column;
}

figcaption {
	font-size: smaller;
}