*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

#theme-toggle {
	opacity: 0.65;
	position: relative;
	border-radius: 5px;
	height: 25px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	transition: opacity 0.3s ease 0s;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0px;
	appearance: none;
	transform: scale(0.8);
}

html{
	--main-font: 'Lato', sans-serif;
	--alt-font: 'Source Sans Pro', sans-serif;
}

html,
html[data-theme="light"] {
	--very-light-text-color:#990F3D;
	--light-text-color: #bbb;
	--medium-text-color: #0D7680;
	--main-text-color: #262A33;
	--dark-text-color: #990F3D;
	--link-color: #1A73EB;

	code,
	pre {
		border-color: #a8a093;
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;
		}

	background-color: #FFF1E5;

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: none;
		background-color: var(--theme-ui-colors-transparent, transparent);
		transform: scale(1);
		transition: all 0.45s ease 0s;
		overflow: hidden;
		box-shadow: inset 8px -8px 0px 0px var(--theme-ui-colors-toggleIcon, #2d3748);

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: none;
			border-radius: 50%;
			transform: translate(0px, 0px);
			opacity: 1;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #2d3748), 23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #2d3748);
			transform: scale(0);
			transition: all 0.35s ease 0s;
		}
	}
}

html[data-theme="dark"] {
	--very-light-text-color: #333;
	--light-text-color: #444;
	--medium-text-color: #888;
	--main-text-color: #ccc;
	--dark-text-color: #eee;
	--link-color: #8AB4F8;
	code,
	pre {
		background: #333;
	}

	background-color: #202124;

	#theme-toggle div {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 4px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
		background-color: var(--theme-ui-colors-toggleIcon, #cbd5e0);
		transform: scale(0.55);
		transition: all 0.45s ease 0s;
		overflow: visible;
		box-shadow: none;

		&::before {
			content: "";
			position: absolute;
			right: -9px;
			top: -9px;
			height: 24px;
			width: 24px;
			border: 2px solid var(--theme-ui-colors-toggleIcon, #cbd5e0);
			border-radius: 50%;
			transform: translate(14px, -14px);
			opacity: 0;
			transition: transform 0.45s ease 0s;
		}

		&::after {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: -4px 0px 0px -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			box-shadow: 0 -23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				0 23px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0), 23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-23px 0 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px 15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0),
				-15px -15px 0 var(--theme-ui-colors-toggleIcon, #cbd5e0);
			transform: scale(1);
			transition: all 0.35s ease 0s;
		}
	}
}

 /* font-family */

body, a, p, time, strong, b, em {
	font-family: var(--main-font);
}

h1, h2, h3, h4, h5 {
	font-family: var(--alt-font);
}

 /* font-size */

h1 {Font-Size: 6vmin;}
h2 {Font-Size: 5vmin;}
h3 {Font-Size: 4vmin;}
h4 {Font-Size: 3vmax;}
h5 {Font-Size: 2vmax;}
body,a,p, .MathJax {
	Font-Size: 2vmax;
}

/* font-weight */

h1, h2, h3, h4, h5 {
	Font-weight: 900;
}

body, a, p, .MathJax, header a.active {
	Font-weight: 500;
}

/* font-color */

.MathJax {color:var(--dark-text-color);}
a {color: var(--link-color);}

h1, body {
	color: var(--main-text-color);
}

h2, h3, h4, h5, hr {
	color:  var(--medium-text-color);
}



/* line-height and margins */

h1, h2, h3, h4, h5 {
	line-height: 1;
	margin-bottom: 1rem;
}

body, p, .meta, code {
	line-height: 1.65;
	margin-bottom: 2rem;
}



body {
	text-rendering: optimizeLegibility;
}




a {
	text-decoration-skip-ink: auto;
	text-decoration: none;
}


pre code {
	border: none;
}

pre {
	padding: 0.8rem;
	white-space: pre-wrap;
}

img {
	max-width: 100%;
}

hr {

	height: 1px;
	border: 0;
}

header {
	flex-basis: 10rem;
	flex-grow: 1;
	position: relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: 0.2rem;
	text-align: right;
	margin-right: 2rem;
}

header, section {padding: 1rem 0;}

section {
	margin-top: 5.5rem;
}

blockquote {
	font-style: italic;
	border-left: 5px solid var(--very-light-text-color);
	padding-left: 1rem;
}


h2 {


	text-rendering: optimizeLegibility;
	text-transform:unset;
}

section h1:first-child {
	margin-top: 0;
}

strong,
b {
	color: var (--light-text-color);
}

em,
b {
	font-weight: 400;
	color: var (--light-text-color);
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
	margin-bottom: 0.5rem;
}



.posts ul,
header ul {
	list-style: none;
}

li {
	padding-left: 30px;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	padding-left: 25px;
}

.posts li a,
.posts li div,
.projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}

.posts li time,
.projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

time {

	font-weight: 500;
	color:var(--dark-text-color);
}

.post > h1.title {
	margin-top: 1.5rem;
}

.post > time {
	font-family: var(--alt-font);
	font-weight: 500;
	margin-bottom: 2rem;
}

main {
	display: flex;
	max-width: 75vw;
	margin: -5rem auto 0;
	padding: 2.4rem 2rem;
	flex-direction: column;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	
	main {
		display: flex;
		max-width: 95vw;
		margin: -5rem auto 0;
		padding: 2.4rem 2rem;
		flex-direction: column;
	}
	
	header li {
		display: inline;
		margin-right: 1rem;
		margin-bottom: 3rem;
	}
	
	time {
		display: none;
	}

	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		border-bottom: 1px solid #edf2f7;
		padding-bottom: 2rem;
	}
	nav ul {
		border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}

	main {
		padding: 0 1.0rem;
	}

	 a {
		font-size: 6vw;
	}

	h2 {
		font-size: 6vw;
	}

	.github-corner {
		display: none;
	}
}

section {
	flex-grow: 999;
	display: flex;
	flex-direction: column;
}

figcaption {
	font-size: smaller;
}
  