---
layout: default
---

<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<section class="post">
  <div class="flex-row-between">
    <a href="{{site.url}}/blog">« archive </a>
    <button id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
    </button>
  </div>
  <h1 class="title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
  {{ content }}

</section>